#menuButton {
	position: fixed;
	height: 35px;
	width: 50px;
	right: 20px;
	color: #555;
	border:solid;
	border-width: 3px;
	border-color: #999;
	background-color: #EEE;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-size: 500%;
	z-index: 6;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.menuHereButton {
	top: 98px;
	padding-top: 15px;
}
.menuAwayButton {
	top:-1px;
	padding-top: 15px;
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg); 
	-o-transform:rotate(-180deg); 
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

}

#menuBar {
	position: fixed;
	left: -5%;
	height: 100px;
	width: 110%;
	color: #333;
	border: solid;
	border-width: 3px;
	border-color: #999;
	background-color: #EEE;
	text-align: center;
	z-index: 10;
	white-space: nowrap;
	overflow: hidden;
}

.menuGone {
	top: -110px;
}
.menuHere {
	top: -5px;
}
#menuItem {
	font-family: 'Screentastic_Icons';
	font-size: 400%;
	color: #555;
	line-height: 100px;
	position: relative;
	display: inline-block;
	margin:0 auto;
	top: -1px;
	height: 98%;
	width: 100px;
	background-color:#EEE;
	border: solid;
	border-color: #999;
	cursor:pointer;
}
/*TODO: find a better way to do the button positioning...*/
.backButton {left: 25px;}
.forwardButton { left: 12.5px;}
.quickSaveButton { 
}
.quickLoadButton { left: -12.5px; }
.makePDFButton { left: -25px; }
.makePrintButton { left: -37.5px; }

/* page-moving stuffs is broken atm... TODO: find out why. */
.pageDefaultPos {
}

.pageMenuPos {
	top: 100px;
}

.buttonlabel {
	font-size: small;
	font-family: 'CourierPrime';
	line-height: 50%;
	margin-top: -12px;
}
