body { font-family: 'CourierPrime'; background: #AAA; }

#page {
	background: #FFF;
	margin: auto;
	height: 972px;
	width: 672px;
	border-style: solid;
	border-width: 1px;
	padding: 75px;
	z-index: 1;
}
#schCont {
	display: block;
	position: relative;
	width: 80%;
	text-transform: uppercase;
}

#traCont {
	display: block;
	position: relative;
	width: 80%;
	text-transform: uppercase;
	text-align: right;
}

#chaCont {
	position: relative;
	display: block;
	margin-left: 40%;
	width: 50%;
	text-transform: uppercase;
}

#diaCont {
	margin-left: 25%;
	width: 50%;
		
}

#actCont {
	margin-left: auto;
	margin-right: auto;
	width: 80%
}

#parCont {
	display: block;
	position: relative;
	margin-left: 30%; 
	width: 30%;
}

#linkCont {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#pageNumberCont {
/*Future Feature: Page numbers that reflect what'll be seen on the PDF.*/
}

#menuBar {
/*Future Feature: Hidden menu bar that unhides when you click the thingy!*/
}

/*The things below this line are for funsies and are not actually important to making things industry standard*/

#holePunch {
	font-family: 'Screentastic_Icons';
	font-size: 125%;
	color: #333;
	position: absolute;
	height: 1122px;
	margin-top: -75px;
	margin-left: -75px;
	width: 100px;
	z-index: 6;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tophole {
	margin-top: 75px;
}
.midhole {
	margin-top: 400px;
}
.bothole {
	margin-top: 400px;
}


